footer {
    background: rgba(#eee, 0.5);
    padding: 0 .75rem 2rem;
    .name-nav-btt {
        @include flex(row, nowrap, space-between, center);
        border-top: 1px solid rgb(204, 204, 204);
        padding: 1rem 0;
    }
    nav {
        display: none;
        li {
            display: inline;
            margin-right: 1rem;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                transition: .2s;
                color:$body-copy;
                &:visited {
                    color: $body-copy;
                }
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    @media (min-width: 768px) {
        nav {
            display: block;
        }
        a.btt {
            display: none;
        }
    }
}