header {
    .personal-info  {
        @include flex(column, nowrap, center, center);
        padding: 1rem;
        p {
            text-align: center;
        }
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: .33rem;
            margin-top: 1rem;
            img {
                order: 1;
                margin-left: 1rem;
            }
            p {
                order: 0;
                width: 100%;
                max-width: 550px;
                text-align: left;
            }
        }
    }
}